/* input{
  margin:10px 0;
  height:30px;
  width:160px;
}
.form{
  background:#16ac56;
  padding:30px;
} */
.form__boxes{
  /* display: inline; */
}
/* .btn-info{
  background:red;
  border:none;
  color:#fff;
  padding:10px 30px;
  border-radius:10px;
}
 */


